*.o
*.lo
*.la
Makefile
Makefile.in
compile
aclocal.m4
autom4te.cache/
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
doc/fdl-1.3.texi
doc/liblistserv.info
doc/stamp-vti
doc/version.texi
install-sh
INSTALL
ltmain.sh
m4/
mdate-sh
missing
snippet/
src/gnulib/
src/content_filter.c
src/list_header.c
texinfo.tex
ylwrap
